@use './variables' as *;


$body-color-dark:$white;
$body-bg-dark:hsl(224, 10%, 10%);

$border-color-dark:rgb(54.825, 54.825, 54.825);
$box-shadow-dark:0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 2px .5px -10px #0000001f, 0 1px 4px 0 rgba(0, 0, 0, 0.2);
$hover-bg-dark:#656c7633;
$disabled-bg-dark:#424242;


//Scroll bar 
$track-bg-dark:#424242;
$track-thumb-dark:#686868;


//Table
$table-bg-dark:rgba(242, 242, 242, 0.05);

//Panel
$panel-bg-dark:#1f2122;

//Forms
$input-border-color-dark:$border-color-dark;
$input-check-bg: #42464b;

//Alert
$alert-success-bg-dark: rgba(46, 160, 67, 0.149);
$alert-error-bg-dark: rgba(215, 40, 40, 0.149);
$alert-warning-bg-dark: rgba(255, 221, 87, 0.149);
$alert-info-bg-dark: rgba(85, 198, 236, 0.149);
$alert-primary-bg-dark: rgba(28, 160, 242, 0.149);
$alert-secondary-bg-dark: rgba(109, 118, 126, 0.149);
$alert-default-bg-dark: rgba(212, 212, 212, 0.149);