@use 'sass:color';
$primary-color: rgb(28, 160, 242);
$warning-color: rgb(255, 221, 87);
$error-color: #d62828;
$success-color: #48c774;
$secondary-color:hsl(208, 7%, 46%);
$info-color: #209cee;
$white:#ffffff;
$black:hsl(0, 0%, 0%);
$dark:hsl(0, 0%, 33%);

// Theme colors
$theme-colors:(
  "primary": $primary-color,
  "secondary": $secondary-color,
  "success": $success-color,
  "warning": $warning-color,
  "error": $error-color,
  "info": $info-color,
  "dark": $dark,
  "light": $white
) !default;

$as-coral-100: hsl(15, 100%, 96%);
$as-coral-200: hsl(12, 100%, 90%);
$as-coral-300: hsl(12, 100%, 82%);
$as-coral-400: hsl(11, 97%, 72%);
$as-coral-500: hsl(11, 81%, 60%);
$as-coral-600: hsl(9, 64%, 47%);
$as-coral-700: hsl(9, 70%, 36%);
$as-coral-800: hsl(8, 79%, 28%);
$as-coral-900: hsl(7, 91%, 22%);
$as-coral-1000: hsl(6, 98%, 16%);

$corals: (
  "100": $as-coral-100,
  "200": $as-coral-200,
  "300": $as-coral-300,
  "400": $as-coral-400,
  "500": $as-coral-500,
  "600": $as-coral-600,
  "700": $as-coral-700,
  "800": $as-coral-800,
  "900": $as-coral-900,
  "1000": $as-coral-1000
) !default;

$as-red-100: hsl(5, 100%, 96%);
$as-red-200: hsl(3, 100%, 90%);
$as-red-300: hsl(2, 100%, 83%);
$as-red-400: hsl(360, 100%, 75%);
$as-red-500: hsl(359, 95%, 63%);
$as-red-600: hsl(356, 72%, 47%);
$as-red-700: hsl(350, 84%, 35%);
$as-red-800: hsl(349, 90%, 27%);
$as-red-900: hsl(346, 100%, 20%);
$as-red-1000: hsl(344, 100%, 15%);

$reds: (
  "100": $as-red-100,
  "200": $as-red-200,
  "300": $as-red-300,
  "400": $as-red-400,
  "500": $as-red-500,
  "600": $as-red-600,
  "700": $as-red-700,
  "800": $as-red-800,
  "900": $as-red-900,
  "1000": $as-red-1000
) !default;

$as-pink-100: hsl(330, 100%, 97%);
$as-pink-200: hsl(327, 100%, 91%);
$as-pink-300: hsl(327, 100%, 84%);
$as-pink-400: hsl(326, 100%, 75%);
$as-pink-500: hsl(325, 76%, 63%);
$as-pink-600: hsl(324, 54%, 49%);
$as-pink-700: hsl(323, 59%, 38%);
$as-pink-800: hsl(322, 58%, 30%);
$as-pink-900: hsl(320, 67%, 23%);
$as-pink-1000: hsl(319, 93%, 16%);

$pinks: (
  "100": $as-pink-100,
  "200": $as-pink-200,
  "300": $as-pink-300,
  "400": $as-pink-400,
  "500": $as-pink-500,
  "600": $as-pink-600,
  "700": $as-pink-700,
  "800": $as-pink-800,
  "900": $as-pink-900,
  "1000": $as-pink-1000
) !default;

$as-orange-100: hsl(28, 100%, 95%);
$as-orange-200: hsl(28, 100%, 85%);
$as-orange-300: hsl(27, 100%, 74%);
$as-orange-400: hsl(25, 96%, 63%);
$as-orange-500: hsl(24, 76%, 51%);
$as-orange-600: hsl(24, 100%, 37%);
$as-orange-700: hsl(23, 100%, 29%);
$as-orange-800: hsl(22, 100%, 23%);
$as-orange-900: hsl(22, 100%, 18%);
$as-orange-1000: hsl(19, 100%, 14%);

$oranges: (
  "100": $as-orange-100,
  "200": $as-orange-200,
  "300": $as-orange-300,
  "400": $as-orange-400,
  "500": $as-orange-500,
  "600": $as-orange-600,
  "700": $as-orange-700,
  "800": $as-orange-800,
  "900": $as-orange-900,
  "1000": $as-orange-1000
) !default;

$as-yellow-100: hsl(53, 100%, 89%);
$as-yellow-200: hsl(48, 93%, 74%);
$as-yellow-300: hsl(46, 79%, 61%);
$as-yellow-400: hsl(44, 66%, 50%);
$as-yellow-500: hsl(42, 100%, 37%);
$as-yellow-600: hsl(40, 100%, 30%);
$as-yellow-700: hsl(37, 100%, 25%);
$as-yellow-800: hsl(36, 98%, 20%);
$as-yellow-900: hsl(35, 100%, 15%);
$as-yellow-1000: hsl(36, 100%, 12%);

$yellows: (
  "100": $as-yellow-100,
  "200": $as-yellow-200,
  "300": $as-yellow-300,
  "400": $as-yellow-400,
  "500": $as-yellow-500,
  "600": $as-yellow-600,
  "700": $as-yellow-700,
  "800": $as-yellow-800,
  "900": $as-yellow-900,
  "1000": $as-yellow-1000
) !default;

$as-purple-100: hsl(285, 100%, 97%);
$as-purple-200: hsl(271, 100%, 92%);
$as-purple-300: hsl(267, 100%, 86%);
$as-purple-400: hsl(265, 100%, 80%);
$as-purple-500: hsl(261, 92%, 72%);
$as-purple-600: hsl(261, 69%, 59%);
$as-purple-700: hsl(261, 53%, 48%);
$as-purple-800: hsl(261, 56%, 38%);
$as-purple-900: hsl(261, 59%, 30%);
$as-purple-1000: hsl(260, 66%, 23%);

$purples: (
  "100": $as-purple-100,
  "200": $as-purple-200,
  "300": $as-purple-300,
  "400": $as-purple-400,
  "500": $as-purple-500,
  "600": $as-purple-600,
  "700": $as-purple-700,
  "800": $as-purple-800,
  "900": $as-purple-900,
  "1000": $as-purple-1000
) !default;

$as-green-100: hsl(133, 80%, 92%);
$as-green-200: hsl(134, 66%, 80%);
$as-green-300: hsl(135, 62%, 65%);
$as-green-400: hsl(137, 50%, 53%);
$as-green-500: hsl(137, 57%, 41%);
$as-green-600: hsl(137, 66%, 30%);
$as-green-700: hsl(138, 71%, 23%);
$as-green-800: hsl(141, 90%, 16%);
$as-green-900: hsl(142, 100%, 12%);
$as-green-1000: hsl(143, 100%, 9%);

$greens: (
  "100": $as-green-100,
  "200": $as-green-200,
  "300": $as-green-300,
  "400": $as-green-400,
  "500": $as-green-500,
  "600": $as-green-600,
  "700": $as-green-700,
  "800": $as-green-800,
  "900": $as-green-900,
  "1000": $as-green-1000
) !default;

$as-blue-100: hsl(199, 100%, 93%);
$as-blue-200: hsl(203, 100%, 86%);
$as-blue-300: hsl(204, 100%, 75%);
$as-blue-400: hsl(208, 100%, 66%);
$as-blue-500: hsl(211, 100%, 56%);
$as-blue-600: hsl(212, 92%, 45%);
$as-blue-700: hsl(213, 94%, 35%);
$as-blue-800: hsl(214, 96%, 28%);
$as-blue-900: hsl(216, 83%, 23%);
$as-blue-1000: hsl(217, 100%, 17%);

$blues: (
  "100": $as-blue-100,
  "200": $as-blue-200,
  "300": $as-blue-300,
  "400": $as-blue-400,
  "500": $as-blue-500,
  "600": $as-blue-600,
  "700": $as-blue-700,
  "800": $as-blue-800,
  "900": $as-blue-900,
  "1000": $as-blue-1000
) !default;


$as-gray-100: hsl(0, 0%, 86%);
$as-gray-200: hsl(0, 0%, 83%);
$as-gray-300: hsl(0, 0%, 75%);
$as-gray-400: hsl(0, 0%, 66%);
$as-gray-500: hsl(0, 0%, 50%);
$as-gray-600: hsl(0, 0%, 41%);
$as-gray-700: hsl(0, 0%, 26%);
$as-gray-800: hsl(0, 0%, 13%);
$as-gray-900: hsl(0, 0%, 8%);

$grays: (
  "100": $as-gray-100,
  "200": $as-gray-200,
  "300": $as-gray-300,
  "400": $as-gray-400,
  "500": $as-gray-500,
  "600": $as-gray-600,
  "700": $as-gray-700,
  "800": $as-gray-800,
  "900": $as-gray-900
) !default;

// Typography
$font-stack: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: monospace !default;

// misc
$size-0:0rem; 
$size-1:0.25rem;
$size-2:0.5rem;
$size-3:0.75rem;
$size-4:1rem;
$size-5:1.25rem;

$text-weight-light:300;
$text-weight-normal:400;
$text-weight-medium:500;
$text-weight-semibold:600;
$text-weight-bold:700;



// Break points
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$spacer: 1rem !default;
$spacers:(
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
)!default;





$borderRadius-medium:0.375rem;

$shadow-lw: 0 1px 2px 0 #0000001a;
$shadow-md: 0 5px 40px #0003;
$shadow-tl: 0 12px 28px 0 #0003, 0 2px 4px 0 #0000001a;


$positions: (
  "position-static": static,
  "position-relative": relative,
  "position-absolute": absolute,
  "position-fixed": fixed,
  "position-sticky": sticky,
) !default;




// Forms
//-- Form input
$input-width:100%;
$input-max-width:$input-width;
$input-transition:border-color .15s ease-in-out, box-shadow .15s ease-in-out;
$input-line-height:1.5;
$input-padding-x:0.25em;
$input-padding-y:0.625em;
$input-border-radius:6px;
$input-height:calc(1.6180339887rem + 15px);
$input-font-weight:$text-weight-normal;
$input-border-width:1px;
$input-border-style:solid;
$input-outline:0;
$input-border-color:rgb(219, 219, 219);
$input-box-shadow-focus:0 0 0 .25rem rgba($primary-color, .5);
$input-box-shadow-focus-secondary:0 0 0 .25rem rgba($secondary-color, .5);
$input-box-shadow-focus-error:0 0 0 .25rem rgba($error-color, .5);
$input-box-shadow-focus-success:0 0 0 .25rem rgba($success-color, .5);
$input-box-shadow-focus-warning:0 0 0 .25rem rgba($warning-color, .5);
$input-box-shadow-focus-info:0 0 0 .25rem rgba($info-color, .5);
$input-box-shadow-focus-dark:0 0 0 .25rem rgba($dark, .5);
$input-background-color-disabled: rgb(233, 236, 239);


//-- Form Select
$form-select-display:block;
$form-select-with:100%;
$form-select-font-size:1rem;
$form-select-font-weight:400;
$form-select-padding-y:0.25rem  !default;
$form-select-padding-x: 0.625rem   !default;
$form-select-line-height:1.5;
$form-select-height:calc(1.6180339887rem + 15px);
$form-select-border-width:1px;
$form-select-border-style:solid;
$form-select-border-radius:.25rem;
$form-select-background-size:16px 12px;
$form-select-background-color-disabled:#e9ecef;
$form-select-transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;

//-- Form Range
$form-range-track-width:          100%;
$form-range-padding:          0;
$form-range-track-height:         .5rem;
$form-range-track-cursor:         pointer;
$form-range-track-bg:             $as-gray-300;
$form-range-track-border-radius:  1rem;
$form-range-thumb-width:                   1rem;
$form-range-thumb-height:                  $form-range-thumb-width;
$form-range-thumb-bg:                      $primary-color;
$form-range-thumb-border:                  0;
$form-range-thumb-border-radius:           1rem;
$form-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .1);
$form-range-thumb-active-bg:               color.adjust($primary-color, $lightness: -10%);
$form-range-thumb-track-bg:               #dee2e6;
$form-range-thumb-track-height:               .5rem;
$form-range-thumb-track-width:               100%;
$form-range-thumb-track-border-color:         transparent;
$form-range-thumb-track-color:         $form-range-thumb-track-border-color;
$form-range-thumb-track-border-radius:         1rem;
$form-range-thumb-disabled-bg:             $as-gray-500;
$form-range-thumb-transition:              background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;


//-- Form Input Group
$input-group-addon-padding-y:           .375rem;
$input-group-addon-padding-x:           .75rem;
$input-group-addon-font-weight:         $input-font-weight;
$input-group-addon-color:               $as-gray-800;
$input-group-addon-bg:                  $as-gray-100;
$input-group-addon-border-color:  $input-border-color;

//-- Form Check
$form-check-input-display:                  block;
$form-check-input-width:                  1em;
$form-check-input-height:                  1em;
$form-check-min-height:                   1.5rem;
$form-check-padding-left:                1.5em;
$form-check-margin-bottom:                .125rem;
$form-check-input-margin-top:            .25em;
$form-check-input-active-filter:          brightness(90%);
$form-check-input-border:                 1px solid rgba($black, .25);
$form-check-input-border-radius:          .25em;
$form-check-radio-border-radius:          50%;

//-- Form Switch
$form-switch-padding-left:                  2.5em;
$form-switch-margin-left:                  -2.5em;
$form-switch-width:2em;
$form-switch-border-radius:2em;

//-- Form Field
$form-field-margin:1.5rem 0;

//-- Form helper text
$form-helper-text-position:absolute;
$form-helper-z-index:10;
$form-helper-text-display:block;
$form-helper-text-max-width:400px;
$form-helper-text-padding:4px 8px;
$form-helper-text-margin:8px 0 0;
$form-helper-text-font-size:12px;
$form-helper-text-font-weight:500;
$form-helper-text-border-style:solid;
$form-helper-text-border-width:1px;
$form-helper-text-radius:6px;




$form-button-padding-x:                  0.625em;
$form-button-padding-y:                  0.25em;
$form-button-line-height:                   1.5;
$form-button-border-radius:                6px;
$form-button-margin:                0;
$form-button-outline:            0;

$form-button-sm-padding-x:                 12px;
$form-button-sm-padding-y:                3px;
$form-button-sm-font-size:            12px;
$form-button-sm-line-height:            20px;

$form-button-lg-padding-x:               1.5rem;
$form-button-lg-padding-y:                  .75em;
$form-button-lg-font-size:            inherit;
$form-button-lg-line-height:            1.5;

//Alerts

$alert-border-width:5px;
$alert-border-radius:0.4rem;
$alert-box-shadow:0 1px 2px 0 #0000001a;
$alert-padding:1rem;
$alert-margin-bottom:1rem;
$alert-text-decoration:underline;

//Article

$article-box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px .5px -1px #0000000f, 0 1px 4px 0 rgba(0, 0, 0, 0.2);
$article-border-radius:6px;
$article-margin: 1rem 0;
$article-title-padding:0 1.25rem;
$article-padding:1.25rem;
$article-font-size:15px;
$article-text-align:center;
$article-title-text-decoration:none;
$article-font-style:italic;
$article-link-text-decoration:$article-title-text-decoration;


//Breadcrumbs

$breadcrumb-padding-x:                0rem;
$breadcrumb-padding-y:                  0.5rem;
$breadcrumb-margin-x:                0rem;
$breadcrumb-margin-y:                  0.5rem;
$breadcrumb-font-size:            1rem;


//Cards

$card-min-width:                0;
$card-box-shadow :0 .2px .2px 0 rgba(0, 0, 0, .14), 0 .3px .1px -2px rgba(0, 0, 0, .12), 0 .2px .5px 0 rgba(0, 0, 0, .2);
$card-font-size:1.15rem;

$panel-padding:                 24px;
$panel-border-radius:               9px;
$panel-margin:                 .5rem 0 1rem;
$panel-box-shadow:    0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px .5px -1px #0000000f, 0 1px 4px 0 rgba(0, 0, 0, 0.2);

//Chips

$chip-padding-y:                0px;
$chip-padding-x:                12px;
$chip-height:                  32px;
$chip-font-size:            13px;
$chip-line-height:            31px;
$chip-border-radius:            16px;
$chip-margin-right:                5px;
$chip-font-weight:                 500;


//Dividers
$divider-display:                inline-block;
$divider-width:                100%;
$divider-border-width:                  1px;
$divider-border-height:                  1px;
$divider-border-style:                  solid;
$divider-margin:                .4rem 0;

$divider-vertical-width:               max-content;
$divider-vertical-height:            100px;
$divider-vertical-margin:                auto;
$divider-vertical-border-width:                  1px;
$divider-vertical-border-style:                  solid;


//Tags

$tag-padding:            8px;
$tag-margin:            0;
$tag-border-radius:            4px;
$tag-font-weight:                400;
$tag-font-size:                 .85rem;
$tag-line-height:                 5px;


//Dropdown menu

$drop-down-menu-padding-y:            .5rem;
$drop-down-menu-z-index:            1000;
$drop-down-menu-padding-x:            0;
$drop-down-menu-min-width:            10rem;
$drop-down-menu-margin:            0;
$drop-down-menu-margin-top:            .3rem;
$drop-down-menu-border-radius:            6px;
$drop-down-menu-font-size:                 1rem;
$drop-down-menu-box-show:                 0 1px .1px #0002;







//New Toasts

$new-toast-box-shadow:0 1px 3px rgba(31,35,40,.12),0 8px 24px rgb(66 74 83 / 2%) ;
$new-toast-border-radius:5px;
$new-toast-margin: 5px;
$new-toast-title-padding:0 1.25rem;
$new-toast-padding:1.25rem;
$new-toast-font-size:15px;