@use './variables' as *;


.article{
margin: $article-margin;
box-shadow: $article-box-shadow;
border-radius: $article-border-radius;
color: var(--body-color);
background: var(--body-bg);


   img{
    border-top-left-radius: $article-border-radius;
    border-top-right-radius: $article-border-radius;
   }
   .article-title{
    padding: $article-title-padding;
    text-align: $article-text-align;
      a{
        text-decoration: $article-title-text-decoration; 
      }
   }
   .article-body,.article-footer{
    padding: $article-padding;
   }
   .article-text {
    font-size: $article-font-size;
    }
   .article-footer{
    padding:  $article-padding;
   }
   .article-meta{
    font-style: $article-font-style;
   }
   .article-link{
    text-decoration: $article-link-text-decoration;
   }
}