@use './variables' as *;
@use 'sass:color';

.SelectMenu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: flex;
    padding: 16px;
    pointer-events: none;
    flex-direction: column;
    -moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.details-overlay[open]>summary::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 80;
    display: block;
    cursor: default;
    content: " ";
    background: rgba(0,0,0,0)
}
.details-reset>summary {
    list-style: none;
    transition: 80ms cubic-bezier(.33,1,.68,1);
    transition-property: color,background-color,box-shadow,border-color
}


.details-reset>summary:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
    box-shadow: none
}

.details-reset>summary:focus:not(:focus-visible) {
    outline: solid 1px transparent
}
.details-reset>summary:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
    box-shadow: none
}
.details-reset>summary::-webkit-details-marker {
    display: none
}


.details-overlay>summary:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
    box-shadow: none
}

.details-overlay>summary:focus:not(:focus-visible) {
    outline: solid 1px transparent
}

.details-overlay>summary:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
    box-shadow: none
}

@media(min-width: 544px) {
    .SelectMenu-modal {
        width:300px;
        height: auto;
        max-height: 480px;
        margin: 8px 0 16px;
        font-size: 12px;
        border-color: var(--as-border);
        border-radius: 6px;
        animation: SelectMenu-modal-animation .12s cubic-bezier(0, 0.1, 0.1, 1) backwards;
    }
}

.SelectMenu-modal {
    position: relative;
    z-index: 99;
    display: flex;
    max-height: 66%;
    margin: auto 0;
    overflow: hidden;
    pointer-events: auto;
    flex-direction: column;
    background-color: var(--body-bg);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 2px .5px -10px #0000001f, 0 1px 4px 0 rgba(0, 0, 0, 0.2)
}
@keyframes SelectMenu-modal-animation {
   
    0% {
        opacity: 0;
        transform: scale(0.9);
    } 
    }

 .SelectMenu-list {
      flex: auto;
      background-color: var(--body-bg);
      -webkit-overflow-scrolling: touch
  }
  
  .SelectMenu-item {
      display: flex;
      align-items: center;
      color: var(--body-color);
      outline: 0;
      background-color: var(--body-bg);
      border-bottom: 1px solid var(--border-color)
  }

  @media (min-width: 544px) {
      .SelectMenu {
          position:absolute;
          top: auto;
          right: auto;
          bottom: auto;
          left: auto;
          padding: 0
      }
  }
  .SelectMenu-header {
    display: flex;
    padding: 16px;
    flex: none;
    align-items: center;
    border-bottom: 1px solid var(--border-color)
}

.SelectMenu-title {
    flex: 1;
    font-size: 14px;
    font-weight: 600
}
.SelectMenu-item[aria-checked=true]{
    font-weight: 500
}

.SelectMenu-closeButton {
    padding: 16px;
    margin: -16px;
    line-height: 1;
    color:#656d76;
    background-color: var(--body-bg);
    border: 0
}
.SelectMenu-item,.SelectMenu-item[aria-checked=true],.SelectMenu-tab[aria-selected=true] {
    color: var(--body-color)
}
.SelectMenu-input {
    display: block;
    width: 100%
}

.SelectMenu-list {
    position: relative;
    padding: 0;
    margin: 0 0 -1px;
    flex: auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.SelectMenu-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
 
    border: 0;
    border-bottom: 1px solid var(--border-color)
}
.SelectMenu-icon {
    width: 16px;
    margin-right: 8px;
    flex-shrink: 0
}

.SelectMenu-icon--check {
    visibility: hidden;
    transition: transform .12s cubic-bezier(.5, .1, 1, .5),visibility 0s linear .12s;
    transform: scale(0)
}

.SelectMenu-item[aria-checked=true] .SelectMenu-icon--check {
    visibility: visible;
    transition: transform .12s cubic-bezier(0, 0, .2, 1),visibility linear;
    transform: scale(1)
}
.SelectMenu-item:disabled,.SelectMenu-item[aria-disabled=true] {
    color: $as-gray-100;
    pointer-events: none
}

.SelectMenu-footer {
    z-index: 0;
    padding: 8px 16px;
    font-size: 12px;
    color: var(--body-color);
    text-align: center;
    border-top: 1px solid var(--border-color)
}

.SelectMenu--hasFilter .SelectMenu-modal {
    height: 80%;
    max-height: none;
    margin-top: 0
}

@media(min-width: 544px) {
    .SelectMenu-header {
        padding:7px 7px 7px 16px
    }

    .SelectMenu-title {
        font-size: inherit
    }

    .SelectMenu-closeButton {
        margin: -8px -7px
    }

    .SelectMenu-filter {
        padding: 8px
    }

    .SelectMenu-input {
        font-size: 14px
    }

    .SelectMenu-item {
        padding-top: 7px;
        padding-bottom: 7px
    }

    .SelectMenu-footer {
        padding: 7px 16px
    }

    .SelectMenu--hasFilter .SelectMenu-modal {
        height: auto;
        max-height: 480px;
        margin-top: 8px
    }
}

@media (hover: none) {
    .SelectMenu-item:active, .SelectMenu-item:focus {
        background-color: var(--hover-bg);
    }
}
@media(hover: hover) {
    .SelectMenu-closeButton:hover,.SelectMenu-tab:hover,body:not(.intent-mouse) .SelectMenu-closeButton:focus {
        color:var(--body-color)
    }

    .SelectMenu-closeButton:active {
        color:#656d76
    }

    .SelectMenu-item:hover,body:not(.intent-mouse) .SelectMenu-item:focus {
        background-color: var(--hover-bg)
    }

    .SelectMenu-item:active {
        background-color: var(--hover-bg)
    }


}