

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-top: 1.5rem;
    p{
        margin-bottom: 0;
    }
    ul{
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        
    }
    ul li{
        list-style: none;
    }
}

.secondary-footer{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
.nav-link{
    user-select: none;
    display: block;
    padding: 0.5rem 0rem;
    color: var(--body-color);

    text-decoration: none !important
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;

    .list-unstyled{
    padding-left: 0;
    list-style: none;
      li a i{
       padding: .5rem; 
      }
    }
    .list-unstyled.d-flex{
        display: flex;
    }
}

}