@use './mixins/loaders\ and\ spinners' as *;
@use './variables' as *;


.progress{
@include loaders()
}
.progress--large{height:10px}
.progress--small{height:5px}

.progress::-webkit-progress-bar {
    background-color:$as-gray-100
}

.progress::-webkit-progress-value {
    background-color:var(--primary-color)
}

.progress::-moz-progress-bar {
    background-color:var(--primary-color)
}

.progress::-ms-fill {
    background-color:var(--primary-color);
    border: none
}


.progress:indeterminate {
    -webkit-animation-duration: 1.15s;
    animation-duration: 1.15s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: moveIndeterminate;
    animation-name: moveIndeterminate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background-color: #ededed;
    background-image: linear-gradient(to right,#4a4a4a 30%,#ededed 30%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150% 150%
}
.progress:indeterminate::-webkit-progress-bar {
    background-color: transparent
}
.progress:indeterminate::-moz-progress-bar {
    background-color: transparent
}
.progress:indeterminate::-ms-fill {
    animation-name: none
}
@each $name,$value in $theme-colors{
    .progress.progress--#{$name}::-webkit-progress-value {
        background-color: var(--#{$name}-color);
    }
    
    .progress.progress--#{$name}::-moz-progress-bar {
        background-color: var(--#{$name}-color);
    }
    
    .progress.progress--#{$name}primary::-ms-fill {
        background-color: var(--#{$name}-color);
    }
    
    .progress.progress--#{$name}:indeterminate {
        background-image: linear-gradient(to right, var(--#{$name}-color) 30%,#ededed 30%) !important
    }
    }



.spinner{
    @include spinners()
}
.spinner::after{
    animation: .5s linear infinite loading;
    border: .2rem solid var(--secondary-color);
    background: 0 0;
    border-radius: 50%;
    border-right-color: rgba(var(--secondary-color), .2);
    border-top-color: rgba(var(--secondary-color), .2);
    content: "";
    display: block;
    height: 2rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 2rem;
    z-index: 1 
}


@each $name,$value in $theme-colors{
    .spinner.spinner--#{$name}::after {
        border: .2rem solid var(--#{$name}-color);
        border-right-color: rgba(var(--#{$name}-color),.2);
        border-top-color:rgba(var(--#{$name}-color),.2);
    }
    }


@-webkit-keyframes moveIndeterminate {
    from {
        background-position: 200% 0
    }

    to {
        background-position: -200% 0
    }
}

@keyframes moveIndeterminate {
    from {
        background-position: 200% 0
    }

    to {
        background-position: -200% 0
    }
}
@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
