@use '../variables' as *;


@mixin breadcrumb(){
    font-size: $breadcrumb-font-size;
    margin: $breadcrumb-padding-y $breadcrumb-padding-x;
    padding: $breadcrumb-padding-y $breadcrumb-padding-x;
    white-space: nowrap;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}